*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color:black;
}

section{
    margin: 30px 150px;
}

h2{
    text-align: center;
    font-weight: bold;
    color: white;
}

/* Styling Nav Section */

/* General */
.navbar{
    position: fixed;
    width: 100%;
    background-color: black !important;
    z-index: 10;
}

/* Styling Name in the nav */
.navbar a{
    color: white !important;
}

/* Styling navigation links */
.navbar-nav a{
    color: white !important;  
}


/* Styling hero section */
/* jumbotron copy */
.jumbotronCopy{
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}

/* hero image styling */
.jumbotron{
    background-image: url(../images/lunar-night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 300px);
    display: flex;
}

/* About Me Section */
#about .container{
    margin-top: 5%;
    margin-bottom: 10%;
}

#about img{
    width: 100%;
    display: flex;
    border-radius: 10%;
    
}

.colP{
    color: white;
    font-size: 18px;
    flex-basis: 40%;
    align-items: center;
}

i{
    padding: 10px;
    font-size: 60px;
}

/* Footer Section */
footer{
  background: #014288;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: 300;
  margin-top: 5px;
}

.ftext{
    color: white;
}
