*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color:black;
}

section{
    margin: 30px 150px;
    
}

h2{
    text-align: center;
    font-weight: bold;
    color: white;
}

/* Styling Nav Section */

/* General */
.navbar{
    position: fixed;
    width: 100%;
    background-color: black !important;
    z-index: 10;
}

/* Styling Name in the nav */
.navbar a{
    color: white !important;
}

/* Styling navigation links */
.navbar-nav a{
    color: white !important;  
}


/* Styling hero section */
/* jumbotron copy */
.jumbotronCopy{
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}

/* hero image styling */
.jumbotron{
    background-image: url(../images/lunar-night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 300px);
    display: flex;
}

/* About Me Section */
#about .container{
    margin-top: 5%;
    margin-bottom: 10%;
}

#about img{
    width: 100%;
    display: flex;
    border-radius: 10%;
    
}

.colP{
    color: white;
    font-size: 18px;
    flex-basis: 40%;
    align-items: center;
}

i{
    padding: 10px;
    font-size: 60px;
}

/* Portfolio Section */
#portfolio .container{
    margin-top: 5%;
    margin-bottom: 10%;
}

.card img{
    width: auto;
    height: 400px;
}

#portfolio a{
    font-size: 12px;
    background-color: #007bff;
    border-radius: 10%;
    padding: 8px 8px;
    color: white;
    text-decoration: none;
}

/* Contact Me section */
.contact-form form{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  
  form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
  }
  
  form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    text-decoration: none;
  }

/* Footer Section */
footer{
  background: #014288;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: 300;
  margin-top: 5px;
}

.ftext{
    color: white;
}
